:root {
  --primary-color: #6c63ff;
  --secondary-color: #F5EEEE;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  padding-bottom: 70px;
  padding-top: 40px;
}

h1,
h2,
h3 {
  text-align: center;
}
#about-me {
  font-size: 96px;
}

h1 {
  font-size: 54px;
  margin-top: 75px;

 
}

h2 {
  font-size: 24px;
  padding-top: 5px;
  opacity: 0.8;
  text-align: center;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  text-align:center;
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.8;
 
}





.header {
  font-size: 36px;
  opacity: 0.8;
  margin-top:40px;
  background-color: rgb(243, 234, 234);
  padding: 40px 20px;
}



.ewelina_picture {
  width: 300px;
  height: auto;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}


.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none
}

.email-link:hover {
  text-decoration: underline;
}
.nav-link.active {
  font-weight: bold;
}

.footer-color {
  background-color: var(--secondary-color) !important;
font-weight: 400;
border:#1b1a1a 1px solid;
border-radius: 5px;

}

.galery-courses {
  display: flex;
  gap: 20px;
}

.galery-courses img {
  width:100%;
  height:auto;
  border-radius: 5px;
  border: 1px solid #1b1a1a;
  margin:60px;
}

.nav-item active {
  font-weight: bold;
}

h2 #contact {
  
}

.libre-caslon-text-regular {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-caslon-text-bold {
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-caslon-text-regular-italic {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: italic;
}

#connect {
  font-size: 22px;
}

.btn-footer {
  background-color: #ffffff;

}

.connect-buttons {
  display: flex;
  justify-content:center;
  gap: 40px;
  margin-top:20px;
  margin-bottom: 30px;
}

.connect-img {
  max-width: 100%;
  height: auto;
  max-height:400px;
}

@media (max-width: 768px) {
  h1{
    font-size: 30px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  h3 {
    font-size: 18px !important;
  }
  p {
    font-size: 14px !important;
  }
  .mobile-small {
    font-size: 14px !important;
    line-height: 1.6 !important;
    margin-top:20px; 
  }
  .email-link{
    font-size: 14px !important;
  }
  .about-me{
    font-size: 16px !important;
    line-height: 1 !important;
  }

  .connect-img {
    max-height: 200px;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
}

